.App {
  text-align: center;
}

* {
  min-height: 0;
  min-width: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  padding-top: 55px;
  align-items: center;
  justify-content: center;
}

.container a {
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  color: gray;
}

.paginationActive a {
  background-color: #2b2eff;
  color: white;
  padding: 16px;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next  {
  z-index: 1;
  margin: 40px;
  color: black;
  align-items: center;
  padding: 7px;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(177, 174, 174);
  justify-content: center;
  display: flex;
  margin-top: -18px;
  width: 30px;
  height: 30px;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  color: black/* your hover color here */;
  background-color: white /* your hover background color here */;
}


/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

input[type=number] {
  -moz-appearance: textfield;
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}